{% extends 'core/base.html' %}

{% block title %} AccountUser Login {% endblock %}

    {% block content %}
    <div class="d-flex mx-auto justify-content-center mb-6">
        <div class="row">
            <div class="col-lg-auto">
                <div class="card shadow p-4 mb-6 bg-white rounded">
                    <div class="card-header bg-white">
                        <h3> Login </h3>
                    </div>

                    {% include 'accounts/parts/login_form.html' %}
            </div>
        </div>
    </div>

    
    
    </div>
    
    {% endblock %}


