{% extends 'core/base.html' %}

{% block title %}
	{{ product.title }}
{% endblock %}

{% block content %}
	<div class="flex d.flex">
		<div class="row">

			<div class="col-lg-5">
				<div class="card shadow border-0 p-4 mb-4 bg-white rounded" >
					<div class="card-image">
						<figure>
							{% if product.image %}
								<img  class="mx-auto d-block img-fluid img-thumbnail" style="width:28rem" src="{{products.image.url}}">		
							{% endif %}
						</figure>
					</div>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="card  border-0 p-4 mb-4 bg-white rounded" >
					<div class="card-header bg-white">
						<h4>{{ product.title}} </h4>
					</div>

					<div class="card-body">
						<p class="mb-6">Price: Ksh. {{product.price}}</p>
						<p class="mb-6">Summary: {{product.description}}</p>						
					</div>

					<div class="card-footer  bg-white">
						Seller: <a href="product_user">{{product.seller}}</a>
					</div>
				</div>
			</div>

			<div class="col-lg-3">
				<div class="card  border-0 py-2 mb-4 bg-white rounded mx-auto" >
					
					<div class="card-body">
						<p class="mb-6"><strong>Price: Ksh. {{product.price}}</strong></p>
						<p class="mb-6"><strong> {{product.delivery}}</strong></p>

						<a class="btn btn-outline-dark" href="{% url 'cart_add' product.id %}"> Add To Cart</a>
						
						
					</div>

					
				</div>
			</div>

			{% include '../policy/terms.html' %}

			</div>
	</div>
{% endblock %}
