@media screen and (min-width:860px) {
	.display-4{
		font-size: 54px;
	}

	h1{
		font-size:1rem;
	}

	h2{
		font-size: 40px;
	}

	h3{
		font-size: 30px;
	}

	h4{
		font-size: 20px;
	}

	h5{
		font-size:16px ;
	}

	h6{
		font-size: 14px;
		font-weight:bolder;
		position: relative;
		word-wrap: break-word;
	}

	p{
		font-size: 16px;
	}

	a{
		font-size: 16px;
	}
}
@media screen and (max-width:860px) {
	.display-4{
		font-size: 8vw;
	}

	h1{
		font-size: 2vw;
	}

	h2{
		font-size: 2vw;
	}
	
	h3{
		font-size: 2vw;
	}

	h4{
		font-size: 2vw;
	}

	h5{
		font-size: 2vw;
	}

	 h6{
		font-size: 2vw;
		font-weight:bolder;
		position: relative;
		text-align-last: center;
		word-wrap: break-word;
	}
	p{
		font-size: 2vw;
	}
}
