  <div class="product-list-item">
        <div class="card shadow p-2 mb-3 bg-white rounded" >	
            <div class="card-image" >                
                <figure class="">
                    <img  class="rounded mx-auto d-block img-thumbnail" src="{{product.get_thumbnail}}" alt="{{product.title}}" style="width:auto">
                </figure>
            </div>	
            
            <h5 class="card-title" style="text-align:center">{{product.title}}</h5>

            <div class="card-body">
                
                <a   class="btn btn-primary" style="float:left" href="{% url 'product' product.category.slug product.pk %}">View Item</a>
                <a  class="btn btn-outline-dark" style="float:right" href="{% url 'cart' %}">Add to Cart</a>
            </div>
            

        </div>        
    </div>
</div>

