        
        <div class="card shadow p-1 mb-5 bg-white rounded" >	
            <h6><span class="badge bg-warning">New</span> <span class="badge bg-secondary" style="float:right">@{{product.vendor}}</span></h6>
            <div class="card-image" >                
                <figure class="">
                    <img  class="rounded mx-auto d-block img-thumbnail" src="{{product.get_thumbnail}}" alt="{{product.title}}" style="width:auto">
                </figure>
            </div>	
            
            <h5 class="card-title" style="text-align:center">{{product.title}} </h5>

            <div class="card-body">
                <p>
                    <a class="btn btn-outline-dark" style="float:left; font-size:14px" href="{% url 'product'  product.category.slug product.pk %}">View {{product.category}}</a>
                    <button data-product={{product.id}} data-action="add" class="btn btn-primary update-class" style="float:right; font-size:14px">Add to Cart</button>
                </p>
            </div>
            

        </div>        
    
