<!DOCTYPE html>
<html>  
{# Load the tag library #}
{% load bootstrap5 %}
{% load static %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

<head>
  <title>Tradesman KE</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-sm navbar-light bg-light p-2">
      <!-- App Title-->
      <a class="p-2 navbar-brand" href="{% url 'homepage' %}"><h2> Tradesman KE</h2></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">
            <img src="https://img.icons8.com/material/24/FFFFFF/shopping-cart--v1.png"/>
          </span>
      </button>
  
      <div class="flex-fill">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav m-2">
            <li class="nav-item active">
              <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Listings
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                
                <li><a class="dropdown-item" href="{% url 'stores' %}">Merchant Listings</a></li>
                <li><a class="dropdown-item" href="#">Product Listings</a></li>
                <li><a class="dropdown-item" href="#">Service Listings</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Tradesman Policies
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Data Protection Policy</a></li>
                <li><a class="dropdown-item" href="#">Payment Protection Policy</a></li>
                <li><a class="dropdown-item" href="#">Product Protection Policy</a></li>
                <li><a class="dropdown-item" href="#">Intellectual Property Rights Policy</a></li>
              </ul>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Support</a>
            </li>
          </ul>

            <form>
              <input type="text" placehoder="Search"/>
              <button class="btn btn-secondary" type="submit">Search</button>            
            </form>

            {% if request.user.is_superuser %}
              <a class="btn btn-outline-dark my-sm-0" type="submit" style="margin-left:5%;" href="{% url 'AccountUser_admin' %}">Administration</a>
            {% else %}
            <a class="btn bg-white m-2 my-sm-0" type="submit" href="{% url 'cart' %}">Cart <img src="https://img.icons8.com/material/24/000000/shopping-cart--v1.png"/></a> 
            {% endif %}


            {% if request.user.is_authenticated %}
              <a class="btn btn-warning m-2 my-sm-0" type="submit" href="{% url 'logout' %}">Logout</a>
            {% else %}
              <a class="btn btn-primary m-2 my-sm-0"  type="submit" href="{% url 'login'%}">Login</a>
              <a class="btn btn-outline-success m-2 my-sm-0"  type="submit" style="margin-left:5%;" href="{% url 'sign_up'%}">Sign Up</a>
            {% endif %}
            
        </div>
      </div>
  </nav>
  {# Display django.contrib.messages as Bootstrap alerts #}
  {% if messages %}
      <ul>
        {% for messages in messages%}
          <li class="{{message.tags}}">{{ message }}</li>
        {%endfor%}
      </ul>
    {%endif%}
    

  <!-- Django Code -->
  <div class="container mt-4 p-4">
      {% block content %}
      
      {% endblock content %}
  </div>   

 
</body>


<footer class="" >
  
  <div class="footer-copyright text-center py-3">© 2022 Copyright Tradesman KE
  </div>
</footer>