<html>  
{# Load the tag library #}
{% load bootstrap5 %}
{% load static %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
<head>
  <title>Tradesman KE</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
  <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg">
      <!-- App Title-->
      <a class="navbar-brand m-2" href="{% url 'homepage' %}"><h2> Tradesman KE</h2></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">
              <!-- <img src="{% static '/images/1 (5).png' %}">Logo</img>-->
          </span>
      </button>
  

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
        </ul>

          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            
          </form>
          <a class="btn btn-outline-success m-4 " type="submit">Search</a>

          <a class="btn btn-primary my-2 my-sm-0" type="submit" style="margin-left:5%;" href="{% url 'login'%}">Login</a>
          </div>

      </div>
  </nav>
  {# Display django.contrib.messages as Bootstrap alerts #}
  {% bootstrap_messages %}    

  <!-- Django Code -->
  <div class="container">
      {% block content %}
      
      {% endblock content %}
  </div>   

 
</body>


<footer class="page-footer font-small special-color-dark pt-4 ">
  <div class="container">    
      <div class="row">    
          <div class="col-md-6 mb-4"> 
          <form class="form-inline">
              <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
              aria-label="Search">
              <i class="fas fa-search" aria-hidden="true"></i>
          </form>
          </div>
          <div class="col-md-6 mb-4">    
          <form class="input-group">
              <input type="text" class="form-control form-control-sm" placeholder="Your email"
              aria-label="Your email" aria-describedby="basic-addon2">
              <div class="input-group-append">
              <button class="btn btn-sm btn-outline-white my-0" type="button">Newsletter Sign up</button>
              </div>
          </form>    
          </div> 
      </div>   
  </div>
  <div class="footer-copyright text-center py-3">© 2022 Copyright:
      <a href="{% url 'homepage' %}"> Tradesman KE</a>
  </div>
</footer>