{% extends 'core/base.html' %}

{% block title %} Welcome | Tradesman {% endblock %}

{% block content %}
    <div class="flex">
        <div class="row">
            {% if not newest_products %}

                <div class="card shadow p-1 mb-5 bg-white rounded">
                    <p>No products available. Please update catalog.</p>
                </div>

            {% else %}
                <h4>Newest Products</h4>
                {% for product in newest_products %}
                    <div class="col-lg-4">
                        {% include 'store/parts/products/list.html' %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        {% if not latest_services %}
            <div class="card shadow p-1 mb-5 bg-white rounded">
                <p>No service packages available. Please update catalog.</p>
            </div>
        {% else %}
            <div class="row">
                <h5>Latest Services</h5>
                {% for service in latest_services %}
                    <div class="col-lg-3">
                        {% include 'store/parts/services/list.html' %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}


            