{% extends 'core/base.html' %}

    {% block title %} Welcome | Tradesman {% endblock %}

            {% block content %}

            <h5 class="mb-2">Latest Additions</h5><br>

            <div class="flex d-flex">
                <div class="row">
                    {% for product in newest_products %}
                    <div class="col-lg-4">
                          {% include 'products/parts/list_item.html' %}
                    {% endfor %}
                    </div>
                </div>
            </div>
            {% endblock %}


            