{% extends 'core/base.html' %}

    {% block title %} Welcome | Tradesman {% endblock %}

            {% block content %}
            <div class="flex">
                <div class="row">
                    {% if not newest_products%}
                
                    {% else %}
                        <h4>Newest Products</h4>
                        {% for product in newest_products %}
                            <div class="col-lg-4">
                            {% include 'products/parts/list_item.html' %}
                            </div>
                        {% endfor %}   
                    {% endif %}                 
                </div>
                
                {% if not latest_services%}

                {% else %}
                    <div class="row">
                        <h5>Latest Services</h5>
                        {% for service in latest_services %}
                        <div class="col-lg-3">
                            {% include 'services/parts/list_item.html' %}
                        </div>
                        {% endfor %}                    
                    </div>
                {% endif %}

                
                {% if not latest_ventures%}
                    
                {% else %}
                    <div class="row">                
                        <h5>Newest Ventures</h5>
                        {% for product in latest_ventures %}
                        <div class="col-lg-4">
                            {% include 'products/parts/list_item.html' %}
                        </div>
                        {% endfor %}
                    </div>                    
                {% endif %}
                    
                </div>
            </div>
            {% endblock %}


            